.btn:focus, .btn-shorten:focus{
  outline: 0 !important;
}

html,
body {
  height: 100%;
  background-color: #262E30;
}

body {
  color: #fff;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.btn-shorten {
  color: #ffffff;
  background-color: #F84545;
  border: none;
}

.btn-shorten:hover,
.btn-shorten:focus,
.btn-shorten:active,
.btn-shorten.active {
  color: #ffffff;
  background-color: #FA8900;
  border: none;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.main-container {
  margin-right: auto;
  margin-left: auto;
  margin-top: 80px;
}

.inner {
  padding: 30px;
}

.inner h4 {
  padding-bottom: 30px;
}

.glyphicon-link {
  font-size: 2em;
}

.inner h1 {
  margin-top: 5px;
}

#link {
  display: none;
  padding-top: 15px;
}

#link a{
  color: #F89406;
  font-size: 1.5em;
  margin-right: 20px;
}

@media (min-width: 768px) {
  .main-container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .main-container {
    width: 700px;
  }
}